* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: rgb(10, 10, 10);
  margin: 0;
  scroll-behavior: smooth;

  color: rgb(10, 10, 10);
}
.container {
  width: 90%;
  margin: auto;
  scroll-behavior: smooth;
}
.navbar {
  background-color: rgba(10, 10, 10, 0.185);
  margin: 0px 10px 10px 10px;
}
.navbar .brand {
  float: left;
  width: 15%;
  text-transform: uppercase;
  color: rgb(216, 25, 25);
  font-family: "Cookie", cursive;
  padding: 10px 10px;
}
.navbar .brand:hover {
  background-color: rgba(238, 238, 241, 0.205);
}
.navbar .brand h2:hover {
  color: rgb(17, 188, 240);
}
.navbar .logo {
  float: left;
}

.navbar .section {
  float: left;
  width: 70%;
  margin-top: 15px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.navbar .section li {
  display: inline-block;
  padding: 15px 15px 15px;
  margin: 5px;
  text-transform: capitalize;
  border-bottom: 2px solid transparent;
  font-weight: bold;
  font-size: 20px;
}
.navbar .section li:hover {
  border-bottom: 2px solid turquoise;
}
.navbar .section li a {
  color: rgb(236, 227, 227);
  scroll-behavior: smooth;
  text-decoration: none;
}
.navbar .section li a:hover {
  color: turquoise;
}
.clearfix {
  clear: both;
}
.navbar img {
  border-radius: 50%;
  scroll-snap-type: initial;
  size: 30;
}
.iam {
  border-bottom: 5px solid #cc1;
  display: inline-block;
}
.iam {
  font-weight: bold;
  font-size: 60px;
  margin: 0;
  display: inline-block;
  overflow: hidden;
  color: white;
}
.landing__container {
  padding: 1em;
  text-align: left;
}

@media only screen and (min-width: 35em) {
  .landing__container {
    max-width: 50em;
    padding: 4em;
  }
}
section {
  position: relative;
  margin: 70px;
}
section:hover {
  background-color: white;
}

.andria h2 {
  border-bottom: 1px solid #cc1;
  font-family: "Oxygen", Sans-Serif;
  font-size: 3em;
  color: rgb(248, 245, 245);
  font-size: 3em;
  margin: 2em 1rem;
}
.footer {
  background-color: #232323;
  color: #eee;
  padding: 40px;
  overflow: hidden;
}
.footer .col {
  width: 25%;
  float: right;
}
.footer h2 {
 
}
